.navbar {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#34D3E6, 4%);
  position: relative;

  .btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 180px;
  }
}

.navbar__list {

  & > :not(:last-child) {
    margin-bottom: 20px;
  }
}

.navbar__point {
  position: relative;
  padding-left: 15px;
  padding-right: 5px;
  transition: all ease-out .3s;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border: 1px solid $green;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: all ease-out .3s;
  }

  &:hover {
    &:after {
      transform: rotate(45deg) translate(0, -50%);
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }

  &.active {
    margin-left: 5px;
    padding-right: 0;
    &:after {
      left: -4px;
      transform: rotate(45deg) translate(0, -50%);
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

  }
}